.wrapper {
    width: 500px;
    /* margin: 0 auto; */
    margin: 50px auto 150px auto;
    padding: 25px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }